body{
    background: white;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
    height: 2400px;
}
html {
  scroll-behavior: smooth;
}

.yellow{
    color: #FFCC00
}

#logo{
    background: white;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
#logo d{
  transform: rotate(180deg);
}


.section_content{

    padding: 15vh;
}

#about{
    height: 30vh;
    padding: 15vh;
    font-size: 30px;
    background: #0f0f0f;
    letter-spacing: 2px
}

#about_header{
    font-size: 45px;
    letter-spacing: 0
}

#games{
    color: #0f0f0f;
}
.game
{
  text-align: center;
  font-size: 30px;
  float: left;
  padding-left: 20px;
}
.game a
{
  text-decoration: none;
  color: white;
  text-shadow: 0px 0px 7px #000000;
  transition: all 1s;
}
.game a:hover
{
  color: #FFCC00;
  transition: all 1s;
}
.game img
{
  border-radius: 20px;
}
.buttons a
{
  text-decoration: none;
  color: white;
  text-shadow: 0px 0px 7px #000000;
  float: right;
  padding-left: 5px;
  transition: all 0.5s;
}
.buttons a:hover
{
  color: #FFCC00;
  transition: all 0.5s;
}

.contact
{
  margin-top: 1000px;
  width: 100%;
  padding: 1px 0 1px 0;
  background: #0f0f0f;
  height:30vh;
}
.icons
{
  height: 58px;
  width: 58px;
  vertical-align: middle;
  max-height: 58px;
  max-width: 58px;
}
